.account-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 95%;
  height: 8rem;
  border-radius: 1rem;
  padding: 1rem
}

.account-info img {
  width: 8rem;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--text2);
  border-radius: 100%;
}

.account-name {
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  text-align: left;
}