.account-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 95vw;
  height: 8rem;
  border-radius: 1rem;
  padding: 1rem
}

.account-info img {
  width: 7rem;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--text2);
  border-radius: 100%;
}

.account-name {
  flex: 1;
  font-size: 2rem;
  font-weight: bold;
  /* width: 100%; */
  text-align: left;
}

@media (max-width: 800px) {
  .account-info {
    flex-direction: column;
    height: auto;
  }
}