header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.title {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: var(--brand);
  height: 4rem;
  aspect-ratio: 1 / 1;
  
  cursor: pointer;
}

#SVGRoot {
  height: 4rem;
  width: 4rem;
  fill: var(--brand);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 1rem;
}

nav a,
.logout-btn {
  padding: 0.5rem;

  text-decoration: none;
  color: var(--text2);
}

nav a:hover,
.logout-btn:hover {
  text-decoration: underline;
  text-decoration-color: var(--brand);
  color: var(--text1);
  cursor: pointer;
}
