.item-card {
  border-radius: 1rem;
  padding: 0.25rem;

  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: repeat(7, 1fr);
  justify-items: start;

  height: 10rem;
  padding-right: 1rem;
}

.item-card a {
  text-decoration: none;
  color: var(--text1)
}

.item-image-card {
  grid-column: 1;
  grid-row: 1 / -1;

  border: 2px solid var(--surface4);
  border-radius: 1rem;
  aspect-ratio: 1 / 1;
  height: 9rem;

  align-self: center;
  justify-self: center;
}

.item-image-card img,
.item-image-card #SVGRoot {
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.item-name-card {
  font-size: 1.3rem;
  min-height: 1.5rem;
  font-weight: bold;

  grid-column: 2;
  grid-row: 2;

  cursor: pointer;
  overflow: hidden;
}

.item-seller-card {
  grid-column: 2;
  grid-row: 3;

  font-weight: bold;

  cursor: pointer;
}

.item-price-card {
  grid-column: 2;
  grid-row: 4;
}

.item-category-card {
  grid-column: 2;
  grid-row: 5;
}

.cart-quantity {
  grid-column: 2;
  grid-row: 6;
}

.cart-quantity::before {
  content: 'In cart: '
}

.item-total-cost {
  grid-column: 3;
  grid-row: 6;
}

.item-total-cost::before {
  content: 'Total: $';
}

.remove-btn {
  grid-column: 3;
  grid-row: 7;
  
  color: var(--text2);
  cursor: pointer;
}

.remove-btn:hover {
  text-decoration: underline;
  text-decoration-color: var(--brand);
  color: var(--text1);
}
