#register-form {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

#register-form .form-btn {
  grid-row: 6;
}

/* Validation */

label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#pw-validation.validation-message {
  color: var(--text1);
}

#pw-validation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pw-check {
  height: 1rem;
  font-size: 0.9rem;
}