header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;

  border-bottom: 1px solid black;
  box-shadow: 0 15px 15px rgba(0,0,0,0.5),
    0 10px 10px rgba(0,0,0,0.25),
    0 5px 5px rgba(0,0,0,0.125);
}

.title {
  text-decoration: none;
  color: black;

  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 1rem;
}

nav a {
  padding: 0.5rem;

  text-decoration: none;
  color: hsl(0, 0%, 50%);
}

nav a:hover {
  text-decoration: underline;
  color: hsl(0, 0%, 25%);
}
