.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  color: var(--text1)
}

main {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

:focus-visible {
  outline: 2px solid var(--brand);
}

header,
footer,
form,
.item-card,
.account-info,
.big-card {
  background-color: var(--surface1);
  box-shadow: var(--shadow);
}

/* Forms */

form.error {
  animation: error-jig 0.25s ease-in-out;
}

@keyframes error-jig {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

form {
  justify-content: center;
}

#register-form,
#login-form,
#item-form {
  border-radius: 15px;

  display: grid;
  padding: 1rem;
  gap: 1rem;
}

.form-title {
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;

  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 20rem;
}

.validation-message {
  height: 1rem;
}

input,
.form-btn,
.add-btn,
.checkout-btn {
  height: 2rem;
  border-radius: 10px;
}

input,
textarea {
  appearance: none;
  width: 20rem;
  padding-left: 0.5rem;
  border: 1px solid transparent;
}

form :focus-visible {
  outline: 2px solid var(--text2);
}

input:not(:placeholder-shown):valid {
  border-color: green
}

input:not(:placeholder-shown):not(:focus):invalid {
  border-color: red;
}

.form-btn,
.add-btn,
.checkout-btn {
  border: none;

  color: var(--text1);
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--brand);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

#register-form label::after,
#item-form label::after,
.pw-check::before {
  content: '✔';
  color: var(--text2);
  padding: 1px;
}

#register-form label.valid::after,
#item-form label.valid::after,
.pw-check.valid::before {
  color: green;
}

#register-form label.invalid::after, 
#item-form label.invalid::after {
  content: '✖';
  color: red;
}

.validation-message {
  color: red;
}

input:placeholder-shown ~ .validation-message {
  visibility: hidden;
}